<ion-view view-title="Neemaa">
  <ion-content class="content-app">
    <p class="white-text">NeemStyler disponible selon ta localisation</p><p class="text-center white-text">92160</p>

    <ion-list>
      <ion-item class="list-item">
        <div class="row" ui-sref="app.neemstyler-info">
          <div class="col text-left">
            <div class="row">
              <span class="list-name-item">Alexandre M.</span>
            </div>
            <div class="row white-text">
              Service: Coiffeur
            </div>
            <div class="row white-text">
              <i class="ion ion-star"></i> 25 avis
            </div>
          </div>
          <div class="col white-text text-right">
            >
          </div>
        </div>
      </ion-item>
      <ion-item class="list-item">
        <div class="row">
          <div class="col text-left">
            <div class="row">
              <span class="list-name-item">Alexandre M.</span>
            </div>
            <div class="row white-text">
              Service: Coiffeur
            </div>
            <div class="row white-text">
              <i class="ion ion-star"></i> 25 avis
            </div>
          </div>
          <div class="col white-text text-right">
            >
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>


</ion-view>
