<ion-view view-title="Neemaa">
  <ion-content class="content-app">
    <div class="row text-center">
      <div class="col">
        <h3 class="white-text">RENDEZ-VOUS A L'INSTANT</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col">
        <p class="white-text">Avec les meilleurs prestataires de la beauté afro</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="* Ou tu veux la prestation ? Code Postal">
          </label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="* Service souhaité">
          </label>
          <p class="white-text">* Champs obligatoire</p>
        </div>
      </div>
    </div>

  </ion-content>

  <div class="bar bar-footer">
    <button class="footer-button" data-ng-click="loginUser(loginUser)">RESERVER</button>
  </div>
</ion-view>
